.navbar-primary{
  /* width: 100%; */
  display: flex;
  justify-content: center;
  gap: .5rem;
  font-size: 1.25rem;

}

main{
    /* padding: 1rem; */
    display: flex;
    flex-direction: column;
    align-items: center;
}

.container{
    max-width: 800px;
    margin: auto;
    padding: 1rem;
    text-align: center;
}